<% content_for :title do %>
  Xero + Workforce Integration
<% end %>

<% content_for :description do %>
  Be sure time-sensitive information makes it's way to the right frontline teams and employees, no matter where they're located.
<% end %>

<div data-controller="demo-modal">
  <div class="bg-white">
    <div class="relative overflow-hidden">
      <div class="absolute inset-y-0 h-full w-full" aria-hidden="true">
        <div class="relative h-full">
          <svg class="absolute right-full transform translate-y-1/3 translate-x-1/4 md:translate-y-1/2 sm:translate-x-1/2 lg:translate-x-full" width="404" height="784" fill="none" viewBox="0 0 404 784">
            <defs>
              <pattern id="e229dbec-10e9-49ee-8ec3-0286ca089edf" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <circle cx="1.5" cy="1.5" r="1.5" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#e229dbec-10e9-49ee-8ec3-0286ca089edf)" />
          </svg>
          <svg class="absolute left-full transform -translate-y-3/4 -translate-x-1/4 sm:-translate-x-1/2 md:-translate-y-1/2 lg:-translate-x-3/4" width="404" height="784" fill="none" viewBox="0 0 404 784">
            <defs>
              <pattern id="d2a68204-c383-44b1-b99f-42ccff4e5365" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <circle cx="1.5" cy="1.5" r="1.5" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#d2a68204-c383-44b1-b99f-42ccff4e5365)" />
          </svg>
        </div>
      </div>
      <div class="relative pt-6 pb-10 sm:pb-6 2xl:pb-10">
        <%= render "layouts/nav" %>
        <div class="flex flex-col-reverse space-y-reverse space-y-10 sm:grid gap-2 lg:grid-cols-12 mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6 sm:space-x-8 sm:space-y-0">
          <div class="text-left col-span-6 flex flex-col justify-center">
            <%= image_tag("integrations/logos/xero.png", class: "filter saturate-100 w-14 mb-4") %>
            <h1 class="relative block uppercase mb-3 text-gray-400 font-normal">Xero + Workforce.com</h1>
            <span class="text-6xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-7xl sm:-mr-16">
              Timesheets sent <span class=" text-blue-tertiary">straight to Xero.</span>
            </span>
            <p class="mt-3 text-xl text-gray-700 sm:text-lg md:mt-5 md:text-2xl max-w-3xl">
              Make managing payroll quick and easy with employee timesheets synced straight to Xero. 
            </p>
            <div class="inline-flex flex-col md:flex-row my-5 md:space-x-4 space-y-4 md:space-y-0">
              <div class="btn-green-action flex w-max items-center space-x-2" data-action="click->demo-modal#open">
                <%= render "layouts/phone" %>
                <span>Book a call</span>
              </div>
              <%= link_to "Create free account", try_path, class: "btn-blue-secondary px-8 py-2 w-max bg-white" %>
            </div>
          </div>
          <div class="block col-span-6 relative sm:pr-6">
            <div class="z-20 sm:mt-8">
              <div class="hidden sm:block absolute w-7/12 z-20 rounded-md overflow-hidden shadow-md bg-white rotate-2 right-0 transform translate-y-48 translate-x-2">
                <%= image_tag("automatic-restaurant.png", class: "filter saturate-100") %>
              </div>
              <div class="hidden sm:block transform scale-x-n1 absolute translate-x-32 sm:translate-x-30 translate-y-60 rotate-12 z-30">
                <%= render "layouts/drawn_arrow", custom_class: "h-28 sm:h-36 w-28 sm:w-36 fill-current text-gray-800 rotate-12 transform" %> 
              </div>
              <%= image_tag("integrations/xero-header.png", class: "filter saturate-100 rounded-md shadow-md") %>
            </div>
          </div>
        </div>
      </div>
      <div class="relative -mb-2">
        <div class="relative inset-0 flex flex-col h-20 sm:h-72 2xl:h-96" aria-hidden="true">
          <div class="flex-1 w-full bg-gray-wave">
          </div>
        </div>
      </div>

      <div class="relative py-8 sm:py-10 sm:pb-20 sm:pt-8 bg-gray-50 -mt-12 sm:-mt-48 2xl:-mt-60">
        <div class="max-w-4xl mx-auto px-4 sm:mt-12 sm:px-6">
          <div class="flex flex-col justify-center">
            <h2 class="relative text-4xl text-center text-gray-800 font-extrabold tracking-tight max-w-4xl mx-auto sm:text-5xl z-10">
              Using Xero with Workforce.com</span>
            </h2>
            <p class="px-2 max-w-5xl mx-auto text-lg text-center sm:text-xl md:text-1.5xl text-gray-500 py-6">From timesheets across multiple locations, to leave management & <%= labor %> laws, there’s lot's involved in payroll that <span class="italic">isn't handled by payroll systems</span>. Workforce.com does the heavy lifting for scheduling & attendance, then pushes timesheets to Xero when it's time for payroll.</p>
          </div>
        </div>
      </div>

      <div class="relative py-8 sm:py-10 sm:pt-16 bg-white">
        <div class="grid gap-10 lg:grid-cols-12 max-w-7xl mx-auto px-4 sm:mt-12 sm:px-6">
          <div class="col-span-5 sm:col-span-7 relative sm:pr-10 items-center flex sm:mb-12">
            <div class="z-20 transform">
              <div class="absolute w-6/12 z-20 rounded-md overflow-hidden shadow-md bg-white right-0 transform translate-y-10 sm:translate-y-32 translate-x-2">
                <%= image_tag("integrations/xero-timesheets.png", class: "filter saturate-100") %>
              </div>
              <div class="hidden sm:block transform -scale-x-n1 absolute translate-x-32 sm:translate-x-44 translate-y-56 rotate-45 z-30">
                <%= render "layouts/drawn_arrow", custom_class: "h-28 sm:h-36 w-28 sm:w-36 fill-current text-gray-800 rotate-12 transform" %> 
              </div>
              <%= image_tag("compliance_header.png", class: "w-4/5 -rotate-2 transform") %>
            </div>
          </div>
          <div class="col-span-5 text-left sm:pt-10">
            <h2 class="relative text-4xl text-gray-800 font-extrabold tracking-tight sm:text-5xl z-10">
              Overtime calculations across all locations.
            </h2>
            <p class="text-lg sm:text-xl md:text-1.5xl text-gray-500 pt-6">For every single shift, Workforce.com calculates the cost of the shift based on <%= labor %> laws, overtime, and other rules in your jurisdiction. There's no manual data entry, and no human errors. All costs are exported to Xero as expenses for review.</p>
          </div>
        </div>
      </div>

      <div class="relative py-8 sm:py-10 sm:pt-32 bg-white">
        <div class="grid gap-10 lg:grid-cols-12 max-w-7xl mx-auto px-4 sm:mt-12 sm:px-6 sm:pl-16">
          <div class="col-span-6 text-left sm:pt-14">
            <h2 class="relative text-4xl text-gray-800 font-extrabold tracking-tight sm:text-5xl z-10">
              Leave & timesheets in an app that's used by everyone.
            </h2>
            <p class="text-lg sm:text-xl md:text-1.5xl text-gray-500 pt-6 sm:pr-6">Approving leave and updating balances is a headache when everything lives in <span class="italic">yet another system</span>. With Workforce.com, leave, timesheets, and rotas are managed in a single mobile app that everyone uses, so you're schedules can be up to date before syncing to Xero.</p>
          </div>
          <div class="col-span-6 relative sm:pr-10 items-center flex sm:mb-12">
            <div class="z-20 transform">
              <%= image_tag("shift-communication-UK.png") %>
            </div>
          </div>
        </div>
      </div>

      <div class="relative py-8 sm:py-10 sm:pt-16 sm:pt-28 bg-white sm:pb-32">
        <div class="grid gap-10 lg:grid-cols-12 max-w-7xl mx-auto px-4 sm:mt-12 sm:px-6">
          <div class="col-span-5 sm:col-span-7 relative sm:pr-10 items-center flex sm:mb-12 sm:pl-10">
            <%= render "layouts/logo", custom_class: "h-60 w-2/5 transform translate-x-8 sm:translate-x-16 -translate-y-2" %>
            <div class="absolute bg-transparent overflow-hidden rounded-full h-14 sm:h-20 w-14 sm:w-20 shadow-lg transform -rotate-2 flex justify-center items-center transform -translate-x-14 sm:-translate-x-36 sm:-translate-x-40 right-0">
              <%= image_tag("xero.png") %>
            </div>
            <div class="transform -scale-x-n1 -scale-y-n1 rotate-90 absolute -translate-x-5 sm:translate-x-28 translate-y-2">
              <%= render "layouts/drawn_arrow", custom_class: "h-32 sm:h-44 w-32 sm:w-44 fill-current text-gray-800 -rotate-45 transform -translate-y-32 translate-x-24" %> 
            </div>
            <div class="transform scale-x-n1 scale-y-n1 absolute translate-x-24 sm:translate-x-72 -translate-y-24">
              <%= render "layouts/drawn_arrow", custom_class: "h-28 sm:h-36 w-28 sm:w-36 fill-current text-gray-800 rotate-12 transform" %> 
            </div>
          </div>
          <div class="col-span-5 text-left">
            <h2 class="relative text-4xl text-gray-800 font-extrabold tracking-tight sm:text-5xl z-10">
              All synced to Xero in time for payday
            </h2>
            <p class="text-lg sm:text-xl md:text-1.5xl text-gray-500 pt-6">Connect everything in a few clicks, then see employee timesheets synced to Brightpay. Our integration has stringent testing and error monitoring, to ensure that it works when you need it most: at 4pm on pay day.</p>
          </div>
        </div>
      </div>

      <div class="relative">
        <div class="absolute inset-0 flex flex-col" aria-hidden="true">
          <div class="flex-1 w-full bg-section-gradient">
          </div>
        </div>
        <div class="max-w-4xl mx-auto px-4 sm:px-6 pb-32">
          <div class="pt-28 relative text-center">
            <div class="text-white text-xl sm:text-2xl flex space-x-2 items-center justify-center">
              <span>Time tracking minus the tedious admin.</span>
            </div>
            <h2 class="text-white text-4xl sm:text-5xl my-6 mb-12"><span class="underline">Case Study:</span> Payroll in 1/4 of the time.</h2>
            <div class="plyr__video-embed" data-controller="plyr">
              <iframe width="560" height="315" src="https://www.youtube.com/watch?v=Yfrt_pJn0PM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="mt-20 max-w-2xl mx-auto">
              <h3 class="text-2xl sm:text-3xl text-center text-white font-normal text-opacity-90 mt-5"><span class="absolute text-5xl sm:text-6xl overflow-hidden h-10 -ml-4 sm:-ml-6 -mt-2.5">"</span>
                It's allowed us to build up data on staff costings. It just saves so much time. Payroll 8 years ago was a 3 or 4 day job, <span class="px-2 bg-opacity-80 bg-yellow-500">we can now move it through in hours.</span><span class="absolute text-5xl sm:text-6xl overflow-hidden h-10 -mr-4 sm:-mr-6 -mt-2.5">"</span></h3>
              <p class="text-white text-center text-opacity-80 text-lg sm:text-xl my-3">— Richard Weeks, General Manager, Hunley Hotel & Golf Club</p>
            </div>
          </div>
        </div>
      </div>

      <div class="relative bg-white">
        <div class="max-w-3xl mx-auto px-4 sm:px-6 pb-16">
          <div class="pt-20 relative text-center">
            <h2 class="text-center text-3xl text-gray-800 text-opacity-90 font-extrabold tracking-tight sm:text-5xl">
              <%= link_to "Learn about how it works", how_it_works_path, class: "underline" %>, <%= link_to "see how customers felt before & after", why_were_different_path, class: "underline" %>, or if you're ready to get started —
            </h2>
            <div class="flex flex-col md:flex-row items-center justify-center md:space-x-4 space-y-4 md:space-y-0 mt-8 mb-6">
              <div class="btn-green px-8 py-2 mx-0 inline-flex space-x-2 items-center justify-center" data-action="click->demo-modal#open">
                <%= render "layouts/phone" %>
                <span>Book a call</span>
              </div>
              <%= link_to "Try Workforce.com today", try_path, class: "btn-blue-secondary mt-8 mb-6 px-8 py-2 mx-auto" %>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <%= render "layouts/demo_modal" %>
</div>
