<% content_for :title do %>
  Bar & Restaurant Scheduling Software
<% end %>

<% content_for :description do %>
  Build cost-efficient schedules in minutes in this staff scheduling software for restaurants and bars.
<% end %>

<div data-controller="demo-modal">
  <div class="bg-white">
    <div class="relative overflow-hidden">
      <div class="absolute inset-y-0 h-full w-full" aria-hidden="true">
        <div class="relative h-full">
          <svg class="absolute right-full transform translate-y-1/3 translate-x-1/4 md:translate-y-1/2 sm:translate-x-1/2 lg:translate-x-full" width="404" height="784" fill="none" viewBox="0 0 404 784">
            <defs>
              <pattern id="e229dbec-10e9-49ee-8ec3-0286ca089edf" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <circle cx="1.5" cy="1.5" r="1.5" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#e229dbec-10e9-49ee-8ec3-0286ca089edf)" />
          </svg>
          <svg class="absolute left-full transform -translate-y-3/4 -translate-x-1/4 sm:-translate-x-1/2 md:-translate-y-1/2 lg:-translate-x-3/4" width="404" height="784" fill="none" viewBox="0 0 404 784">
            <defs>
              <pattern id="d2a68204-c383-44b1-b99f-42ccff4e5365" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <circle cx="1.5" cy="1.5" r="1.5" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#d2a68204-c383-44b1-b99f-42ccff4e5365)" />
          </svg>
        </div>
      </div>
      <div class="relative pt-6 pb-10 sm:pb-6 2xl:pb-10">
        <%= render "layouts/nav" %>
        <div class="flex flex-col sm:flex-row space-y-12 sm:space-y-0 sm:space-x-20 mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6">
          <div class="sm:w-1/2 relative">
            <div class="z-20">
              <%= image_tag("restaurants_header.png", class: "filter saturate-100") %>
            </div>
          </div>
          <div class="text-left sm:w-1/2 flex flex-col justify-center">
            <span class="relative block uppercase mb-3 text-gray-400">Bar & Restaurant Scheduling Software</span>
            <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
              <span class="block">Create employee schedules for your restaurant <span class="text-blue-tertiary">in minutes.</span></span>
            </h1>
            <p class="mt-3 text-xl text-gray-700 sm:text-lg md:mt-5 md:text-1.5xl max-w-3xl">
              Simplify employee scheduling, improve team communication, optimize <%= labor %> costs, and simplify payroll in this scheduling platform for restaurants and bars.
            </p>
            <div class="inline-flex flex-col md:flex-row my-5 md:space-x-4 space-y-4 md:space-y-0">
              <div class="btn-green-action flex w-max items-center space-x-2" data-action="click->demo-modal#open">
                <%= render "layouts/phone" %>
                <span>Book a call</span>
              </div>
              <%= link_to "Create free account", try_path, class: "btn-blue-secondary px-8 py-2 w-max bg-white" %>
            </div>
          </div>
        </div>
      </div>
      <div class="relative -mb-2">
        <div class="relative inset-0 flex flex-col h-20 sm:h-72 2xl:h-96" aria-hidden="true">
          <div class="flex-1 w-full bg-gray-wave">
          </div>
        </div>
      </div>

      <div class="relative py-8 sm:py-10 sm:pt-8 bg-gray-50 -mt-12 sm:-mt-48 2xl:-mt-72">
        <div class="flex flex-col-reverse sm:grid gap-10 grid-cols-6 lg:grid-cols-12 max-w-6xl mx-auto px-4 sm:mt-12 sm:px-6">
          <div class="col-span-6 text-left flex flex-col justify-center">
            <h2 class="relative text-2.5xl leading-8 text-gray-800 font-extrabold tracking-tight sm:text-5xl z-10 -mr-6">
              Automatic restaurant scheduling in a few clicks.</span>
            </h2>
            <ul class="ml-8 my-6 space-y-2">
              <li>
                <span class="absolute -ml-8 my-1 p-1 w-7">
                  <%= image_tag("automatic-restaurant-icon1.png") %>
                </span>
                <p class="px-2 text-lg sm:text-xl md:text-1.5xl text-gray-500 pb-2">Cut down the scheduling process from hours to minutes. Give your managers online scheduling software that allows them to build shifts with drag-and-drop tools.</p>
              </li>
              <li>
                <span class="absolute -ml-8 my-1 p-1 w-7">
                  <%= image_tag("automatic-restaurant-icon2.png") %>
                </span>
                <p class="px-2 text-lg sm:text-xl md:text-1.5xl text-gray-500 pb-2">Certain schedules staying consistent over time? Create templates or simply copy and paste to succeeding weeks or periods.</p>
              </li>
            </ul>
          </div>
         
          <div class="col-span-6 relative sm:pl-10 items-center flex sm:mb-12">
           <%= link_to software_auto_scheduling_path do%>
            <div class="z-20 transform rotate-1">
              <%= image_tag("automatic-restaurant.png") %>
            </div>
          <% end %>
          </div>
        </div>
      </div>

      <div class="relative py-8 sm:py-10 sm:pt-16 bg-white">
        <div class="grid gap-10 lg:grid-cols-12 max-w-6xl mx-auto px-4 sm:mt-12 sm:px-6">
          <div class="col-span-6 relative sm:pr-10 items-center flex sm:mb-12">
            <%= link_to software_scheduling_software_path do%>
            <div class="z-20 transform -rotate-1">
              <%= image_tag("save-on.png") %>
            </div>
            <% end %>
          </div>
          <div class="col-span-6 text-left">
            <h2 class="relative text-2.5xl leading-8 text-gray-800 font-extrabold tracking-tight sm:text-5xl z-10 -mr-6">
              Save on <%= labor %> costs with demand based scheduling.</span>
            </h2>
            <ul class="ml-8 my-6 space-y-2">
              <li>
                <span class="absolute -ml-8 my-1 p-1 w-7">
                  <%= image_tag("save-on-icon1.png") %>
                </span>
                <p class="px-2 text-lg sm:text-xl md:text-1.5xl text-gray-500 pb-2">Avoid unnecessary overtime hours. Integration with your POS allows the platform to see historical sales data and determine appropriate staffing levels.</p>
              </li>
              <li>
                <span class="absolute -ml-8 my-1 p-1 w-7">
                  <%= image_tag("save-on-icon2.png") %>
                </span>
                <p class="px-2 text-lg sm:text-xl md:text-1.5xl text-gray-500 pb-2">Make cost-efficient choices while scheduling. Employee hourly rates are displayed as you build shifts.</p>
              </li>
              <li>
                <span class="absolute -ml-8 my-1 p-1 w-7">
                  <%= image_tag("save-on-icon3.png") %>
                </span>
                <p class="px-2 text-lg sm:text-xl md:text-1.5xl text-gray-500 pb-2">With the Live Wage Tracker, restaurant owners and managers can optimize schedules in real-time so you can control <%= labor %> spending without compromising customer service.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="relative py-8 sm:py-10 sm:pt-8 bg-white">
        <div class="flex flex-col-reverse sm:grid gap-10 grid-cols-6 lg:grid-cols-12 max-w-6xl mx-auto px-4 sm:mt-12 sm:px-6">
          <div class="col-span-6 text-left flex flex-col justify-center">
            <h2 class="relative text-2.5xl leading-8 text-gray-800 font-extrabold tracking-tight sm:text-5xl z-10 -mr-6">
              Easily address last-minute scheduling changes and conflicts.</span>
            </h2>
            <ul class="ml-8 my-6 space-y-2">
              <li>
                <span class="absolute -ml-8 my-1 p-1 w-7">
                  <%= image_tag("easily-address-icon1.png") %>
                </span>
                <p class="px-2 text-lg sm:text-xl md:text-1.5xl text-gray-500 pb-2">Cover unexpected absences through online shift swapping. In a few clicks, offer open shifts to qualified staff.</p>
              </li>
              <li>
                <span class="absolute -ml-8 my-1 p-1 w-7">
                  <%= image_tag("easily-address-icon2.png") %>
                </span>
                <p class="px-2 text-lg sm:text-xl md:text-1.5xl text-gray-500 pb-2">Managers don’t have to be stuck in the back room. With their mobile devices, they can manage schedules, approve leaves, and offer shift swaps.</p>
              </li>
              <li>
                <span class="absolute -ml-8 my-1 p-1 w-7">
                  <%= image_tag("easily-address-icon3.png") %>
                </span>
                <p class="px-2 text-lg sm:text-xl md:text-1.5xl text-gray-500 pb-2">Certain schedules staying consistent over time? Create templates or simply copy and paste to succeeding weeks or periods.</p>
              </li>
            </ul>
          </div>
          <div class="col-span-6 relative sm:pl-10 items-center flex sm:mb-12">
          <%= link_to software_time_and_attendance_path do%>
            <div class="z-20 transform rotate-1">
              <%= image_tag("easily-address.png") %>
            </div>
          <% end %>
          </div>
        </div>
      </div>

      <div class="relative py-8 sm:py-10 sm:pt-16 bg-white sm:pb-32">
        <div class="grid gap-10 lg:grid-cols-12 max-w-6xl mx-auto px-4 sm:mt-12 sm:px-6">
          <div class="col-span-6 relative sm:pr-10 items-center flex sm:mb-12">
          <%= link_to software_employee_app_path do%>
            <div class="z-20 transform -rotate-1">
              <%= image_tag("ensure-transparency.png") %>
            </div>
          <% end %>
          </div>
          <div class="col-span-6 text-left">
            <h2 class="relative text-2.5xl leading-8 text-gray-800 font-extrabold tracking-tight sm:text-5xl z-10">
              Ensure transparency and clear communication.</span>
            </h2>
            <ul class="ml-8 my-6 space-y-2">
              <li>
                <span class="absolute -ml-8 my-1 p-1 w-7">
                  <%= image_tag("ensure-transparency-icon1.png") %>
                </span>
                <p class="px-2 text-lg sm:text-xl md:text-1.5xl text-gray-500 pb-2">Promptly send schedule updates and changes to staff via email, SMS, or the Workforce.com app.</p>
              </li>
              <li>
                <span class="absolute -ml-8 my-1 p-1 w-7">
                  <%= image_tag("ensure-transparency-icon2.png") %>
                </span>
                <p class="px-2 text-lg sm:text-xl md:text-1.5xl text-gray-500 pb-2">Use in-app shift feedback features to identify what went well and what could improve in terms of staffing levels.</p>
              </li>
              <li>
                <span class="absolute -ml-8 my-1 p-1 w-7">
                  <%= image_tag("ensure-transparency-icon3.png") %>
                </span>
                <p class="px-2 text-lg sm:text-xl md:text-1.5xl text-gray-500 pb-2">Provide an app where all employees from managers to line cooks to wait staff can <%= link_to "communicate with the team", software_employee_communications_path, class: "underline text-blue-tertiary" %>.</p>
              </li>
              <li>
                <span class="absolute -ml-8 my-1 p-1 w-7">
                  <%= image_tag("ensure-transparency-icon4.png") %>
                </span>
                <p class="px-2 text-lg sm:text-xl md:text-1.5xl text-gray-500 pb-2">Let employees see upcoming shifts, request PTO, and offer shift swaps in one mobile app.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="relative">
        <div class="absolute inset-0 flex flex-col" aria-hidden="true">
          <div class="flex-1 w-full bg-section-gradient">
          </div>
        </div>
        <div class="max-w-4xl mx-auto px-4 sm:px-6 pb-32">
          <div class="pt-28 relative text-center">
            <div class="text-white text-xl sm:text-2xl flex space-x-2 items-center justify-center">
              <span>Saving on <%= labor %> hours and costs</span>
            </div>
            <h2 class="text-white text-4xl sm:text-5xl my-6 mb-12"><span class="underline">Case Study:</span> Cutting <%= labor %> spend</h2>
            <div class="plyr__video-embed" data-controller="plyr">
              <iframe width="560" height="315" src="https://www.youtube.com/watch?v=tPJdkXSbKEc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="mt-20 max-w-2xl mx-auto">
              <h3 class="text-2xl sm:text-3xl text-center text-white font-normal text-opacity-90">Domino’s Israel saved 25,000 hours in 6 months and <span class="px-2 bg-opacity-80 bg-yellow-500">increased sales per <%= labor %> hour by 11%</span> with Workforce.com.</h3>
              <h3 class="text-2xl sm:text-3xl text-center text-white font-normal text-opacity-90 mt-5"><span class="absolute text-5xl sm:text-6xl overflow-hidden h-10 -ml-4 sm:-ml-6 -mt-2.5">"</span>
                For me, it’s a revolution. We saw good progress in the efficiency of our stores.<span class="absolute text-5xl sm:text-6xl overflow-hidden h-10 -mr-4 sm:-mr-6 -mt-2.5">"</span></h3>
              <p class="text-white text-center text-opacity-80 text-lg sm:text-xl my-3">— Aerie Elbaz, COO, Domino’s Israel</p>
            </div>
          </div>
        </div>
      </div>

      <div class="relative py-8 sm:py-10 sm:pt-8 bg-white">
        <div class="grid sm:gap-10 lg:grid-cols-12 max-w-7xl mx-auto px-4 mt-12 sm:px-6">
          <div class="col-span-6 text-left flex flex-col justify-center">
            <h2 class="relative text-4xl text-gray-800 font-extrabold tracking-tight sm:text-5xl z-10 -mr-6">
              Integrate with your POS, payroll, and HR systems</span>
            </h2>
            <div class="mt-8 mb-2 sm:my-8 space-y-2">
              <p class="text-lg sm:text-xl md:text-1.5xl text-gray-500">Integrate your current tools with our system for faster, more efficient workforce management operations, while providing robust scheduling & attendance for frontline teams.</p>
            </div>
          </div>
          <div class="col-span-6 relative sm:pl-10 items-center flex sm:mb-12">
          <%= link_to software_payroll_integration_path do %>
            <div class="z-20">
              <%= image_tag("integrations.png") %>
            </div>
          <% end %>
          </div>
        </div>
      </div>

      <div class="relative bg-white">
        <div class="max-w-3xl mx-auto px-4 sm:px-6 pb-16">
          <div class="pt-20 relative text-center">
            <h2 class="text-center text-3xl text-gray-800 text-opacity-90 font-extrabold tracking-tight sm:text-5xl">
              <%= link_to "Learn about how it works", how_it_works_path, class: "underline" %>, <%= link_to "see how customers felt before & after", why_were_different_path, class: "underline" %>, or if you're ready to get started —
            </h2>
            <div class="flex flex-col md:flex-row items-center justify-center md:space-x-4 space-y-4 md:space-y-0 mt-8 mb-6">
              <div class="btn-green px-8 py-2 mx-0 inline-flex space-x-2 items-center justify-center" data-action="click->demo-modal#open">
                <%= render "layouts/phone" %>
                <span>Book a call</span>
              </div>
              <%= link_to "Try Workforce.com today", try_path, class: "btn-blue-secondary mt-8 mb-6 px-8 py-2 mx-auto" %>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <%= render "layouts/demo_modal" %>
</div>
